<section class="container">
    <div class="row">
        <div class="d-flex flex-column mt-5">
            <div class="image mx-auto">
                <img class="m-auto" src="../../assets/guard-image.jpg" alt="imagem">
            </div>
            <div class="text text-center">
                <h3>Você não deveria estar aqui</h3>
                <p>Você não possui permissão para acessar essa página.. faça login e tente novamente</p>
            </div>
            <button class="w-25 align-self-center rounded btn btn-danger" [routerLink]="['/login']">Voltar</button>
        </div>
    </div>
</section>