<div class="row my-5 mx-0">
    <section class="left col-6">
        <div class="w-75 h-100 mx-auto"></div>
    </section>
    <section class="right col-6 my-auto">
        <div class="image mx-auto mt-5">
            <div></div>
        </div>
        <div>
            <form #form="ngForm" (ngSubmit)="login()" class="w-75 mx-auto">
                <div class="mb-3">
                    <label for="user" class="form-label">Usuário:</label>
                    <input type="text" class="form-control" id="user" name="user" [(ngModel)]="data.login" placeholder="Digite seu login.." required>
                    <div class="bg-danger" *ngIf="data.login.length < 8">
                        Este campo é obrigatório. Por favor, preencha-o antes de continuar.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="data.password" placeholder="Digite sua senha.." required>
                    <div class="bg-danger" *ngIf="!data.password">
                        Não se esqueça de preencher este campo obrigatório antes de continuar.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirm-pass" class="form-label">Confirmação de senha:</label>
                    <input type="password" class="form-control" id="confirm-pass" name="confirmPassword" [(ngModel)]="data.passwordConfirmation" placeholder="Confirme a senha.." required>
                    <div class="bg-danger" *ngIf="data.password != data.passwordConfirmation">
                        Oops! Parece que as senhas não são as mesmas. Por favor, tente novamente.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100"  [disabled]="form.invalid" >Login</button>
            </form>
        </div>
    </section>
</div>