<div class="container " *ngIf="fact ? true : false">
    <section class="row justify-content-center my-3 gap-2">
        <div  class=" w-75 text-center text-break fst-italic">
            <h3>"{{ fact.text }}"</h3>
        </div>
        <div id="img" class="bg-light d-flex justify-content-center rounded-2 w-75">
            <img [src]="imagemUrl">
        </div>
        <div class="d-flex justify-content-around w-75 my-2">
            <button class="btn btn-success" (click)="imagem()">Imagem</button>
            <button class="btn btn-success" (click)="gif()">GIF</button>
        </div>
    </section>
</div>